{{define "head"}}
  <link rel="stylesheet" type="text/css" href="/public/css/home.css">
  <script src="/public/js/home.js"></script>
{{end}}

{{define "main"}}
  <div class="slide">
    <figure class="slide-entity slide-welcome slide-current">
      <div class="content">
        <figcaption>
          <h3>歡迎您訪問</h3>
          <h2>基督教華府中國教會官方網站</h2>
          <hr>
          <p>我們歡迎你参訪我們的網站。如果你正在尋找教會而且<br>
             今天是你第一次接觸到華府中國教會，我們熱烈地歡迎你，<br>
             並希望你會藉著這網站更多認識我們。</p>
          <a href="#">新手幫助</a>
        </figcaption>
       </div>
    </figure>
    <figure class="slide-entity slide-bible">
      <div class="content">
        <figcaption>
          <h3>利未記 19:32</h3>
          <p>在白髮的人面前，你要站起來；也要尊<br>
             敬老人，又要敬畏你的神。我是耶和華。</p>
          <hr>
          <h3>Leviticus 19:32</h3>
          <p>You shall stand up before the gray head and<br>
             honor the face of an old man, and you shall<br>
             fear your God: I am the LORD.
          </p>
          <a href="#">更多 More</a>
        </figcaption>
       </div>
    </figure>
    <div class="slide-controls">
      <span class="slide-control slide-prev"><i class="fa fa-chevron-left"></i></span>
      <span class="slide-control slide-pause"><i class="fa fa-pause"></i></span>
      <span class="slide-control slide-play slide-delete"><i class="fa fa-play"></i></span>
      <span class="slide-control slide-next"><i class="fa fa-chevron-right"></i></span>
    </div>
  </div>
{{end}}
