{{define "head"}}
  <link rel="stylesheet" type="text/css" href="/public/css/home.css">
  <script src="/public/js/home.js"></script>
{{end}}

{{define "main"}}
  <div class="slide">
    <figure class="slide-entity slide-welcome slide-current">
      <div class="content">
        <figcaption data-animate="slideInUp">
          <h3>您好我的朋友！</h3>
          <h2>歡迎您参訪我們的網站</h2>
          <hr>
          <p>如果你正在尋找教會而且今天是你第一次接觸到華府中國教會，我們熱烈地歡迎你，
             並希望你會藉著這網站更多認識我們。</p>
          <div>
            <a href="#" class="slide-btn-blue">新手指南</a>
            <a href="#" class="slide-btn-ghost">教會介紹</a>
          </div>
        </figcaption>
       </div>
    </figure>
    <figure class="slide-entity slide-bible">
      <div class="content">
        <figcaption data-animate="slideInLeft">
          <h3>利未記 19:32</h3>
          <p>在白髮的人面前，你要站起來；也要尊<br>
             敬老人，又要敬畏你的神。我是耶和華。</p>
          <hr>
          <h3>Leviticus 19:32</h3>
          <p>You shall stand up before the gray head and<br>
             honor the face of an old man, and you shall<br>
             fear your God: I am the LORD.
          </p>
          <a href="#" class="slide-btn-ghost">更多 More</a>
        </figcaption>
       </div>
    </figure>
    <div class="slide-controls">
      <span class="slide-control slide-prev"><i class="fa fa-chevron-left"></i></span>
      <span class="slide-control slide-pause"><i class="fa fa-pause"></i></span>
      <span class="slide-control slide-play slide-delete"><i class="fa fa-play"></i></span>
      <span class="slide-control slide-next"><i class="fa fa-chevron-right"></i></span>
    </div>
  </div>

  <div class="values">
    <div class="content">
      <!--
      <p>我們是一間不分宗派、多樣事工的教會，特別注重大華府華人社區的福音工作。我們分別有華語及英語各樣事工。我們教會的宗旨為﹕</p>
      -->
      <h2>教會宗旨</h2>
      <ul>
        <li>
          <div><img src="/public/images/home-values-bible.svg"></div>
          <div>
            <h3>聖經</h3>
            <p>全部聖經為我們信仰的指南與中心。聖經都是上帝所默示的，是上帝賜給我們的特殊啟示。聖經不僅為我們提供了個人靈魂得救的基本要道，也為我們提供了以上帝為本的全方位的世界觀。</p>
          </div>
        </li>
        <li>
          <div><img src="/public/images/home-values-prayer.svg"></div>
          <div>
            <h3>禱告</h3>
            <p>禱告是我們事工的原動力。神永遠是站在我們這邊的，但我們卻不常站在祂那邊。當人們禱告時，這就是神的機會。一切真正的禱告是尋求神，並且是因著神我們就得著所需要的一切。簡單地說，禱告是人的心轉向神。</p>
          </div>
        </li>
        <li>
          <div><img src="/public/images/home-values-unity.svg"></div>
          <div>
            <h3>合一</h3>
            <p>我們的華語與英語事工互相關懷，全教會合一。我們尋求以家庭為導向的社群，看重敬拜神、高舉耶穌和學習神的話。因應華人社區中各種的需求，而組成極具溫馨的家庭團契，帶領大家一起經歷神的愛，並在基督裡成長。</p>
          </div>
        </li>
        <li>
          <div><img src="/public/images/home-values-send.svg"></div>
          <div>
            <h3>差傳</h3>
            <p>我們差派會員向外宣揚耶穌基督的福音。差傳的基礎是主耶穌基督親自交託教會的大使命：「你們要去，使萬民作我的門徒……」（太廿八：19）。對今日信徒來說，這是不可旁貸之責，理當積極參與差傳。</p>
          </div>
        </li>
      </ul>
      <div class="values-img-holder"><img src="/public/images/home-values-bible.gif"></div>
    </div>
  </div>

  <div class="history">
    <div class="content">
      <h2>教會歷史</h2>
      <p>本教會為大華府區第一間由中國基督徒留學生成立的華人教會。1957年由蔡錫惠弟兄與幾位中國基督徒留學生在華府Calvert街「國際學生協會」的辦公室開始舉行查經聚會，及至1958年八月三十一日正式舉行主日崇拜，成立教會，以國語進行，當時約有二十多位會眾參加。及後聚會人數大增，便購買華府西北十六 街5709號一棟大房子作為教會，並正式定名為「華府國語禮拜堂」，聘請周主培牧師為教會首任牧師。建立一間不屬任何宗派的基督教會，以聖經為信仰及行事為人的最高原則，經濟獨立，仰賴神的豐富的供應，弟兄姊妹熱心奉獻。<a href="#">閱讀更多 →</a></p>
      <!--<a href="#">閱讀更多</a>-->
    </div>
  </div>
{{end}}
